<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true" internalLogLevel="Trace" internalLogToConsole="true" 
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.AzureAppendBlob"/>
  </extensions>
  <targets async="false">
    <target type="ColoredConsole" name="Console" layout="${longdate:universalTime=true} ${level:uppercase=true} - ${logger}: ${message} ${exception:format=type,message}"/>
    <target type="AsyncWrapper" name="AzureAsync" queueLimit="1000" timeToSleepBetweenBatches="50" batchSize="500" overflowAction="Grow">
      <target type="AzureAppendBlob" name="Azure" layout="${longdate:universalTime=true} ${level:uppercase=true} - ${logger}: ${message} ${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=1000}" connectionString="UseDevelopmentStorage=true;" container="logtest" blobName="${date:universalTime=true:format=yyyy-MM-dd}/${date:universalTime=true:format=HH}.log"/>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="Console"/>
    <!--<logger name="*" minlevel="Trace" writeTo="Azure" />-->
    <logger name="*" minlevel="Trace" writeTo="AzureAsync"/>
  </rules>
</nlog>